.box {
  height: 200px;
  background: red;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* TEST */
  text-align: justify;
 
 background-color: #B2BABB;
}

.container {
  margin: 15px auto;
  width: 75%;
}

/* HEADER */

header,
footer {
  width: 100%;
}

header img {
  height: 100px;
}


header h1 {
  margin: 0 0 0 30px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul a {
  text-decoration: none;
  padding: 15px 15px;
  display: inline-block;
  text-transform: uppercase;
  color: grey;
}

nav {
  background: #E5E5E5;
}

nav h2 {
  font-weight: normal;
  margin: 0;
  font-size: 1em;
}

nav li a:hover {
  color: #000;
}

#menu {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  display: none;
}

#menu .bar {
  border: 1px solid black;
  width: 50%;
  margin: 6px auto;
  display: block;
}



/* CONTENT */

.banner {
  height: 60%;
  background: url("../img/Sakura-Garden.jpg") no-repeat;
  background-size: cover;
  background-position: 0 100%;
  background-attachment: fixed;
}

.cards {
  border: 1px solid black;
  background-color: #E5E5E5;
  border-radius: 5px;
  padding: 16px;
}

.cards a {
  border: 1px solid black;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0px;
  float: right;
}

.cards_img {
  width: 100%;
}

.cards:after {
  display: block;
  content: '';
  clear: both;
}

.cards_video {
  width: 100%;
  height: 315px;
}

input, textarea {
  display: block;
}

/*textarea {
  width: 100%;
}*/


/* RESPONSIVE */

@media all and (max-width: 599px) {
  nav ul {
    display: block;
  }

  nav li a {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    display: none;
  }

  h1 {
    display: none;
  }

  header img {
    margin: 0 auto;
  }

  .banner {
    background-position: 55% 100%;
  }

  input, textarea {
    width: 100%;
  }

  #menu {
    display: block;
  }
}

@media all and (min-width: 600px) and (max-width:799px){}
@media all and (min-width: 800px) and (max-width:1024px){}
@media all and (min-width: 700px) and (max-width: 1024px){}
@media all and (min-width: 1025px) and (max-width: 1399px){}
@media all and (min-width: 1400px){}